<h2>Message Form</h2>
<form action="/new" method="post">
    <label for="author">Name
        <input type="text" name="author" id="author">
    </label>
    <label for="message">Name
        <input type="text" name="message" id="message">
    </label>
    <button type="submit">Send Message</button>
</form>
